<%- include("partials/header.ejs") %>

<body class="wrapper">
  <div class="contenido contenido_blog">
    
    <div class="section">
      <div>
        <h1 style="text-align: center;">Your Words Have Power</h1>
        <p>
          Welcome to our community of bloggers, where your words have the power
          to connect, inspire, and transform. Here, we provide you with a safe
          space to share your experiences, reflections, and knowledge with an
          enthusiastic audience.
        </p>
      </div>
    </div>

    

    <div class="section"></div>

    <div class="section">
      <div>
        <h1 style="text-align: center;">Start Your Journey with Us</h1>
        <p>
          If you're ready to share your stories and be part of a community
          passionate about writing, join us. Here, you can not only create your
          first blog but also read the experiences and stories of others. Find
          inspiration, share your thoughts, and connect with others who, like
          you, have something unique to say. Don't wait any longer—start your
          journey with us and create your first blog today!
        </p>
      </div>
    </div>

    <div class="section">
      <div>
        <h1 style="text-align: center;">What is this project</h1>
        <p>
          This project, undertaken by Shamil and Ashfaq, is part of their efforts to successfully 
          complete the EE6254 DevOps module. We aim to apply DevOps 
          principles, streamline development processes, and enhance system automation. Our work 
          is to integrating continuous integration and continuous deployment 
          (CI/CD) practices, ensuring efficiency, reliability, and scalability in software development. 
          This project serves as a practical learning experience, helping them gain hands-on expertise 
          in DevOps methodologies essential for modern software engineering.
        </p>
      </div>
    </div>

  </div>
</body>

<%- include("partials/footer.ejs") %>
